<!DOCTYPE html>
<html>
<head>
<style>
<div class="top">
ul.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li.top {
    float: left;
}

li a.top {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a.top:hover {
    background-color: grey;
}
</div>
img{
	border:0px solid powderblue;
}
h1{
	color:black;
	font-size:50px;
	font-family:Castellar;
	text-align:center;
}
body{
	background-color:powderblue;
}
p{
	color:red;
	text-align:center;
	font-size:20px;
}
a:link{
	border:0px solid powderblue;
	color: blue;
    padding:0px;
	margin:0px;
	text-align:left;
	font-family:楷体;
	text-decoration:none;
}
a:visited{
	border:0px solid powderblue;
	color: blue;
    padding:0px;
	margin:0px;
	text-align:left;
	font-family:楷体;
	text-decoration:none;
}
</style>
</head>
</html>